<div class="app-component__wrapper">
  <div class="app-component__game-layout-panel">
    <div class="app-component__side-panel-wrapper">
      <app-control-panel></app-control-panel>
    </div>
    <div class="app-component__game-panel">
      <!-- <app-game-canvas></app-game-canvas> -->
      <app-guess-indicator></app-guess-indicator>
    </div>
    <div class="app-component__side-panel-wrapper">
      <app-score-board></app-score-board>
    </div>
  </div>
  <div class="app-component__letter-panel-wrapper">
    <app-letter-panel></app-letter-panel>
  </div>
</div>
