<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <h4 class="score-board__game-record">{{gameRecord$ | async}}</h4>
      </mat-list-item>
      <mat-list-item>
        <h4 class="score-board__player-name">Player: {{playerName$ | async}}</h4>
      </mat-list-item>
      <mat-list-item>
        <h4>Elapsed Time: {{gameTime$ | async}}</h4>
      </mat-list-item>
      <mat-list-item>
        <h4 class="score-board__guessed-letters">Guessed Letters: {{guessCount$ | async}}</h4>
      </mat-list-item>
      <mat-list-item>
        <h6 class="score-board__pause-notifier">
          <span *ngIf="isPaused$ | async">The game is paused.</span>
        </h6>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
